In [168]:
import pandas as pd
from pandas import Series, DataFrame

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/Users/sa18/Desktop/weather_api/new.csv")

df = df.loc[:, ~df.columns.str.contains("^Unnamed")]

df = df.dropna()

df["time"] = pd.to_datetime(df["time"])

df = df.set_index("time")

In [169]:
## median temperature for all available months & years
monthly_median_temperature = df.resample("ME")["temperature"].median()
print(monthly_median_temperature)
monthly_median_temperature.to_csv("monthly_median_temp.csv")

yearly_median_temperature = df.resample("YE")["temperature"].median()
print(yearly_median_temperature)
yearly_median_temperature.to_csv("yearly_median_temp.csv")

time
2022-01-31    20.30
2022-02-28    20.50
2022-03-31    21.50
2022-04-30    19.75
2022-05-31    15.50
2022-06-30    14.90
2022-07-31    15.10
2022-08-31    16.40
2022-09-30    18.10
2022-10-31    20.00
2022-11-30    18.90
2022-12-31    19.90
2023-01-31    19.65
2023-02-28    20.70
2023-03-31    20.30
2023-04-30    18.75
2023-05-31    16.20
2023-06-30    14.20
2023-07-31    14.70
2023-08-31    17.05
2023-09-30    21.40
2023-10-31    21.70
2023-11-30    22.60
2023-12-31    22.30
Freq: ME, Name: temperature, dtype: float64
time
2022-12-31    19.1
2023-12-31    19.6
Freq: YE-DEC, Name: temperature, dtype: float64

In [170]:
## median humidity for all available months & years

monthly_median_humidity = df.resample("ME")["humidity"].median()
print(monthly_median_humidity)
monthly_median_humidity.to_csv("monthly_median_humidity.csv")

yearly_median_humidity = df.resample("YE")["humidity"].median()
print(yearly_median_humidity)
yearly_median_humidity.to_csv("yearly_median_humidity.csv")

time
2022-01-31    86.0
2022-02-28    86.0
2022-03-31    72.0
2022-04-30    76.0
2022-05-31    75.0
2022-06-30    79.0
2022-07-31    70.0
2022-08-31    65.0
2022-09-30    67.0
2022-10-31    75.0
2022-11-30    75.0
2022-12-31    83.0
2023-01-31    88.0
2023-02-28    88.0
2023-03-31    85.0
2023-04-30    83.0
2023-05-31    79.0
2023-06-30    84.0
2023-07-31    77.0
2023-08-31    73.0
2023-09-30    63.0
2023-10-31    78.0
2023-11-30    70.0
2023-12-31    74.0
Freq: ME, Name: humidity, dtype: float64
time
2022-12-31    76.0
2023-12-31    79.0
Freq: YE-DEC, Name: humidity, dtype: float64

In [171]:
## median precipitation for all available months & years

monthly_median_precipitation = df.resample("ME")["precipitation"].median()
print(monthly_median_precipitation)
monthly_median_precipitation.to_csv("monthly_median_precipitation.csv")

yearly_median_precipitation = df.resample("YE")["precipitation"].median()
print(yearly_median_precipitation)
yearly_median_precipitation.to_csv("yearly_median_precipitation.csv")

time
2022-01-31    0.0
2022-02-28    0.0
2022-03-31    0.0
2022-04-30    0.0
2022-05-31    0.0
2022-06-30    0.0
2022-07-31    0.0
2022-08-31    0.0
2022-09-30    0.0
2022-10-31    0.0
2022-11-30    0.0
2022-12-31    0.0
2023-01-31    0.1
2023-02-28    0.0
2023-03-31    0.0
2023-04-30    0.0
2023-05-31    0.0
2023-06-30    0.0
2023-07-31    0.0
2023-08-31    0.0
2023-09-30    0.0
2023-10-31    0.0
2023-11-30    0.0
2023-12-31    0.0
Freq: ME, Name: precipitation, dtype: float64
time
2022-12-31    0.0
2023-12-31    0.0
Freq: YE-DEC, Name: precipitation, dtype: float64

In [149]:
## median surface pressure for all available months & years

monthly_median_surface_pressure = df.resample("ME")["surface_pressure"].median()
print(monthly_median_surface_pressure)
monthly_median_surface_pressure.to_csv("monthly_median_surface_pressure.csv")

yearly_median_surface_pressure = df.resample("YE")["surface_pressure"].median()
print(yearly_median_surface_pressure)
yearly_median_surface_pressure.to_csv("yearly_median_surface_pressure.csv")

time
2022-01-31    910.60
2022-02-28    911.30
2022-03-31    912.15
2022-04-30    913.10
2022-05-31    913.70
2022-06-30    914.00
2022-07-31    915.60
2022-08-31    915.30
2022-09-30    913.70
2022-10-31    912.50
2022-11-30    911.80
2022-12-31    910.40
2023-01-31    911.50
2023-02-28    912.50
2023-03-31    913.30
2023-04-30    912.60
2023-05-31    914.35
2023-06-30    915.50
2023-07-31    916.00
2023-08-31    915.10
2023-09-30    914.00
2023-10-31    912.20
2023-11-30    911.40
2023-12-31    911.70
Freq: ME, Name: surface_pressure, dtype: float64
time
2022-12-31    912.8
2023-12-31    913.3
Freq: YE-DEC, Name: surface_pressure, dtype: float64

In [150]:
df = pd.read_csv("/Users/sa18/Desktop/weather_api/data/csv/br_final.csv")

df.head()

,country,subdivision,type,million_60kgs_bag,year,nonbear_mill_trees,bear_mill_trees,nonbear_thous_hect,bear_thous_hect,trees_hect_bear,trees_hect_nonbear,avg_unemp_perc
0,Brazil,Minas Gerais,Arabica,16.2,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0,NaN
1,Brazil,Espirito Santo,Arabica,2.2,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0,NaN
2,Brazil,Espirito Santo,Robusta,7.5,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0,NaN
3,Brazil,Sao Paulo,Arabica,3.2,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0,NaN
4,Brazil,Parana,Arabica,0.5,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0,6.95

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17520 entries, 2022-01-01 00:00:00 to 2023-12-31 23:00:00
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   temperature       17520 non-null  float64
 1   humidity          17520 non-null  int64
 2   precipitation     17520 non-null  float64
 3   surface_pressure  17520 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 684.4 KB

In [173]:
## checking for nulls

df.isna().sum()

temperature         0
humidity            0
precipitation       0
surface_pressure    0
dtype: int64

In [153]:
df.dropna()

,country,subdivision,type,million_60kgs_bag,year,nonbear_mill_trees,bear_mill_trees,nonbear_thous_hect,bear_thous_hect,trees_hect_bear,trees_hect_nonbear,avg_unemp_perc
4,Brazil,Parana,Arabica,0.5,2002,1500.0,4465.0,495.0,2120.0,2106.0,3030.0,6.950
9,Brazil,Parana,Arabica,2.6,2003,1125.0,5265.0,315.0,2360.0,2231.0,3577.0,7.160
14,Brazil,Parana,Arabica,2.2,2004,631.0,5050.0,205.0,2174.0,2323.0,3075.0,6.150
19,Brazil,Parana,Arabica,2.6,2005,466.0,5255.0,148.0,2305.0,2280.0,3149.0,6.710
24,Brazil,Parana,Arabica,1.8,2006,581.0,5330.0,175.0,2298.0,2319.0,3320.0,6.530
...,...,...,...,...,...,...,...,...,...,...,...,...
105,Brazil,Minas Gerais,Arabica,24.5,2022,1500.0,6010.0,470.0,2010.0,2990.0,3191.0,7.150
106,Brazil,Espirito Santo,Arabica,3.7,2022,1500.0,6010.0,470.0,2010.0,2990.0,3191.0,7.925
107,Brazil,Espirito Santo,Robusta,15.7,2022,1500.0,6010.0,470.0,2010.0,2990.0,3191.0,7.925
108,Brazil,Sao Paulo,Arabica,4.6,2022,1500.0,6010.0,470.0,2010.0,2990.0,3191.0,9.075
109,Brazil,Parana,Arabica,1.0,2022,1500.0,6010.0,470.0,2010.0,2990.0,3191.0,5.825

In [154]:
df.dropna().isna().sum()

country               0
subdivision           0
type                  0
million_60kgs_bag     0
year                  0
nonbear_mill_trees    0
bear_mill_trees       0
nonbear_thous_hect    0
bear_thous_hect       0
trees_hect_bear       0
trees_hect_nonbear    0
avg_unemp_perc        0
dtype: int64

In [155]:
df.describe()

,million_60kgs_bag,year,nonbear_mill_trees,bear_mill_trees,nonbear_thous_hect,bear_thous_hect,trees_hect_bear,trees_hect_nonbear,avg_unemp_perc
count,115.000000,115.000000,110.000000,110.000000,110.000000,110.000000,110.000000,110.000000,67.000000
mean,8.991304,2012.565217,995.045455,5648.409091,298.136364,2146.409091,2639.772727,3345.909091,8.881343
std,9.213987,6.239560,308.965495,371.296348,97.127692,96.260664,244.494223,174.534744,2.798707
min,0.500000,2002.000000,466.000000,4465.000000,148.000000,2010.000000,2106.000000,3030.000000,4.125000
25%,2.600000,2007.000000,679.000000,5640.000000,205.000000,2070.000000,2552.000000,3191.000000,6.800000
50%,4.800000,2013.000000,1052.500000,5737.500000,307.000000,2135.000000,2700.000000,3418.000000,7.925000
75%,12.300000,2018.000000,1185.000000,5810.000000,347.000000,2223.000000,2786.000000,3483.000000,11.425000
max,34.800000,2023.000000,1510.000000,6200.000000,495.000000,2360.000000,3020.000000,3578.000000,14.100000

In [156]:
# row, column; looking at all subdivisions
df.loc[:, "subdivision"]

0        Minas Gerais
1      Espirito Santo
2      Espirito Santo
3           Sao Paulo
4              Parana
            ...
110      Minas Gerais
111    Espirito Santo
112    Espirito Santo
113         Sao Paulo
114            Parana
Name: subdivision, Length: 115, dtype: object

In [157]:
df[df["subdivision"] == "Minas_Gerais"]

Empty DataFrame
Columns: [country, subdivision, type, million_60kgs_bag, year, nonbear_mill_trees, bear_mill_trees, nonbear_thous_hect, bear_thous_hect, trees_hect_bear, trees_hect_nonbear, avg_unemp_perc]
Index: []

In [176]:
data = pd.read_csv("/Users/sa18/Desktop/weather_api/data/csv/br_final.csv")

## get data on Minas Gerais only
minas_data = data[data['subdivision'] == "Minas Gerais"]
print (minas_data)

## add new_data to data frame
df=pd.DataFrame(minas_data)

## convert json file to csv file
df.to_csv("minas_data.csv")

    country   subdivision     type  million_60kgs_bag  year  \
0    Brazil  Minas Gerais  Arabica              16.20  2002
5    Brazil  Minas Gerais  Arabica              26.70  2003
10   Brazil  Minas Gerais  Arabica              14.40  2004
15   Brazil  Minas Gerais  Arabica              21.40  2005
20   Brazil  Minas Gerais  Arabica              16.30  2006
25   Brazil  Minas Gerais  Arabica              23.70  2007
30   Brazil  Minas Gerais  Arabica              16.85  2008
35   Brazil  Minas Gerais  Arabica              25.55  2009
40   Brazil  Minas Gerais  Arabica              22.10  2010
45   Brazil  Minas Gerais  Arabica              28.50  2011
50   Brazil  Minas Gerais  Arabica              23.50  2012
55   Brazil  Minas Gerais  Arabica              28.50  2013
60   Brazil  Minas Gerais  Arabica              29.40  2014
61   Brazil  Minas Gerais  Arabica              29.40  2014
70   Brazil  Minas Gerais  Arabica              26.00  2015
75   Brazil  Minas Gerais  Arabica              25.30  2016
80   Brazil  Minas Gerais  Arabica              32.50  2017
85   Brazil  Minas Gerais  Arabica              28.30  2018
90   Brazil  Minas Gerais  Arabica              34.20  2019
95   Brazil  Minas Gerais  Arabica              29.10  2020
100  Brazil  Minas Gerais  Arabica              34.80  2021
105  Brazil  Minas Gerais  Arabica              24.50  2022
110  Brazil  Minas Gerais  Arabica              28.50  2023

     nonbear_mill_trees  bear_mill_trees  nonbear_thous_hect  bear_thous_hect  \
0                1500.0           4465.0               495.0           2120.0
5                1125.0           5265.0               315.0           2360.0
10                631.0           5050.0               205.0           2174.0
15                466.0           5255.0               148.0           2305.0
20                581.0           5330.0               175.0           2298.0
25                563.0           5730.0               186.0           2245.0
30                679.0           5720.0               196.0           2235.0
35                663.0           5770.0               188.0           2223.0
40                873.0           5725.0               244.0           2151.0
45                815.0           5820.0               234.0           2175.0
50                835.0           5760.0               260.0           2150.0
55               1000.0           5860.0               282.0           2105.0
60               1055.0           5810.0               307.0           2135.0
61               1055.0           5810.0               307.0           2135.0
70               1185.0           5770.0               347.0           2090.0
75               1125.0           5735.0               340.0           2070.0
80               1300.0           5640.0               380.0           2020.0
85                  NaN              NaN                 NaN              NaN
90               1150.0           5740.0               335.0           2060.0
95               1230.0           5700.0               350.0           2040.0
100              1050.0           6200.0               320.0           2100.0
105              1500.0           6010.0               470.0           2010.0
110              1510.0           6100.0               475.0           2020.0

     trees_hect_bear  trees_hect_nonbear  avg_unemp_perc
0             2106.0              3030.0             NaN
5             2231.0              3577.0             NaN
10            2323.0              3075.0             NaN
15            2280.0              3149.0             NaN
20            2319.0              3320.0             NaN
25            2552.0              3030.0             NaN
30            2559.0              3468.0             NaN
35            2596.0              3527.0             NaN
40            2662.0              3578.0             NaN
45            2676.0              3483.0             NaN
50            2679.0              3212.0           6.975
55            2784.0              3546.0           6.650
60            2721.0              3436.0           6.800
61            2721.0              3436.0           6.800
70            2761.0              3415.0           8.625
75            2771.0              3309.0          11.200
80            2792.0              3421.0          12.250
85               NaN                 NaN          10.775
90            2786.0              3433.0          10.100
95            2794.0              3514.0          12.750
100           2952.0              3281.0          11.650
105           2990.0              3191.0           7.150
110           3020.0              3179.0             NaN

In [161]:
## yearly median along with harvest data

df1 = pd.read_csv("/Users/sa18/Desktop/weather_api/yearly_median_temp.csv")
df2 = pd.read_csv("/Users/sa18/Desktop/weather_api/minas_data.csv")

# convert the "time" column in df1 to datetime and extract the year
df1['time'] = pd.to_datetime(df1['time'], format='%Y-%m-%d')

# extract year from "time"
df1['year'] = df1['time'].dt.year

# make 'year' column in df2 an integer
df2['year'] = df2['year'].astype(int)

# merge df1 and df2 according to year
yearly_median_temp_harvest_data = pd.merge(df1, df2, on='year', how='inner')

print("yearly_median_temp_harvest_data: ")
print(yearly_median_temp_harvest_data.head())

yearly_median_temp_harvest_data.to_csv("/Users/sa18/Desktop/weather_api/yearly_median_temp_harvest_data.csv", index=False)

yearly_median_temp_harvest_data:
        time  temperature  year  Unnamed: 0 country   subdivision     type  \
0 2022-12-31         19.1  2022         105  Brazil  Minas Gerais  Arabica
1 2023-12-31         19.6  2023         110  Brazil  Minas Gerais  Arabica

   million_60kgs_bag  nonbear_mill_trees  bear_mill_trees  nonbear_thous_hect  \
0               24.5              1500.0           6010.0               470.0
1               28.5              1510.0           6100.0               475.0

   bear_thous_hect  trees_hect_bear  trees_hect_nonbear  avg_unemp_perc
0           2010.0           2990.0              3191.0            7.15
1           2020.0           3020.0              3179.0             NaN

In [162]:
df1 = pd.read_csv("/Users/sa18/Desktop/weather_api/yearly_median_humidity.csv")
df2 = pd.read_csv("/Users/sa18/Desktop/weather_api/minas_data.csv")

# convert the "time" column in df1 to datetime and extract the year
df1['time'] = pd.to_datetime(df1['time'], format='%Y-%m-%d')

# extract year from "time"
df1['year'] = df1['time'].dt.year

# make 'year' column in df2 an integer
df2['year'] = df2['year'].astype(int)

# merge df1 and df2 according to year
yearly_median_humidity_harvest_data = pd.merge(df1, df2, on='year', how='inner')

print("yearly_median_humidity_harvest_data: ")
print(yearly_median_humidity_harvest_data.head())

yearly_median_humidity_harvest_data.to_csv("/Users/sa18/Desktop/weather_api/yearly_median_humidity_harvest_data.csv", index=False)

yearly_median_humidity_harvest_data:
        time  humidity  year  Unnamed: 0 country   subdivision     type  \
0 2022-12-31      76.0  2022         105  Brazil  Minas Gerais  Arabica
1 2023-12-31      79.0  2023         110  Brazil  Minas Gerais  Arabica

   million_60kgs_bag  nonbear_mill_trees  bear_mill_trees  nonbear_thous_hect  \
0               24.5              1500.0           6010.0               470.0
1               28.5              1510.0           6100.0               475.0

   bear_thous_hect  trees_hect_bear  trees_hect_nonbear  avg_unemp_perc
0           2010.0           2990.0              3191.0            7.15
1           2020.0           3020.0              3179.0             NaN

In [163]:
df1 = pd.read_csv("/Users/sa18/Desktop/weather_api/yearly_median_precipitation.csv")
df2 = pd.read_csv("/Users/sa18/Desktop/weather_api/minas_data.csv")

# convert the "time" column in df1 to datetime and extract the year
df1['time'] = pd.to_datetime(df1['time'], format='%Y-%m-%d')

# extract year from "time"
df1['year'] = df1['time'].dt.year

# make 'year' column in df2 an integer
df2['year'] = df2['year'].astype(int)

# merge df1 and df2 according to year
yearly_median_precip_harvest_data = pd.merge(df1, df2, on='year', how='inner')

print("yearly_median_precip_harvest_data: ")
print(yearly_median_precip_harvest_data.head())

yearly_median_precip_harvest_data.to_csv("/Users/sa18/Desktop/weather_api/yearly_median_precip_harvest_data.csv", index=False)

yearly_median_precip_harvest_data:
        time  precipitation  year  Unnamed: 0 country   subdivision     type  \
0 2022-12-31            0.0  2022         105  Brazil  Minas Gerais  Arabica
1 2023-12-31            0.0  2023         110  Brazil  Minas Gerais  Arabica

   million_60kgs_bag  nonbear_mill_trees  bear_mill_trees  nonbear_thous_hect  \
0               24.5              1500.0           6010.0               470.0
1               28.5              1510.0           6100.0               475.0

   bear_thous_hect  trees_hect_bear  trees_hect_nonbear  avg_unemp_perc
0           2010.0           2990.0              3191.0            7.15
1           2020.0           3020.0              3179.0             NaN

In [167]:
df1 = pd.read_csv("/Users/sa18/Desktop/weather_api/yearly_median_surface_pressure.csv")
df2 = pd.read_csv("/Users/sa18/Desktop/weather_api/minas_data.csv")

# convert the "time" column in df1 to datetime and extract the year
df1['time'] = pd.to_datetime(df1['time'], format='%Y-%m-%d')

# extract year from "time"
df1['year'] = df1['time'].dt.year

# make 'year' column in df2 an integer
df2['year'] = df2['year'].astype(int)

# merge df1 and df2 according to year
yearly_median_surface_pressure_harvest_data = pd.merge(df1, df2, on='year', how='inner')

print("yearly_median_surface_pressure_harvest_data: ")
print(yearly_median_surface_pressure_harvest_data.head())


yearly_median_surface_pressure_harvest_data.to_csv("/Users/sa18/Desktop/weather_api/yearly_median_surface_pressure_harvest_data.csv", index=False)

yearly_median_surface_pressure_harvest_data:
        time  surface_pressure  year  Unnamed: 0 country   subdivision  \
0 2022-12-31             912.8  2022         105  Brazil  Minas Gerais
1 2023-12-31             913.3  2023         110  Brazil  Minas Gerais

      type  million_60kgs_bag  nonbear_mill_trees  bear_mill_trees  \
0  Arabica               24.5              1500.0           6010.0
1  Arabica               28.5              1510.0           6100.0

   nonbear_thous_hect  bear_thous_hect  trees_hect_bear  trees_hect_nonbear  \
0               470.0           2010.0           2990.0              3191.0
1               475.0           2020.0           3020.0              3179.0

   avg_unemp_perc
0            7.15
1             NaN